*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(colour.jpg)
}
.button
{
    background-color: rgb(0, 132, 255);
}
.button ul 
{
    display: inline-flex;
    margin: 50px;
}
.button ul li
{
    color: green;
    margin-left: 2pc;
    margin-right: 2pc;
}
h1
{
    margin: 1ch;
    color: rgb(194, 241, 241);
}
img 
{
    float: right;
    margin: 1cm;
}